<<<<<<< HEAD
.hero {
    margin-top: 40vh;
    margin-left: 20vh;
}

.hero h1 {
    color: #00FFF6;
    font-family: 'Roboto Mono', monospace;
}

.hero h2 {
    font-size: 60px;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}

.hero h3 {
    font-size: 50px;
    margin-bottom: 35px;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}

.hero p {
    opacity: 0.4;
}

.hero div a {
    color: #00FFF6;
    border: #00FFF6 solid 1px;
    border-radius: 3px !important;
    padding: 17px 20px 17px 20px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;


}

.hero div  a:hover {
    color: #00FFF6;
    border: #00FFF6 solid 1px;
    border-radius: 3px !important;
    padding: 17px 20px 17px 20px;
    background-color: #00fff74d;
}

@media screen and (max-width: 600px) {

    .hero {
        margin-left: 0;
        text-align: center;
    }

    .hero h2 {
        font-size: 40px;
        color: white;
        opacity: 0.9;
    }

    .hero h3 {
        font-size: 30px;
        margin-bottom: 25px;
        opacity: 0.6;
    }
    .hero p {
        opacity: 0.4;
        text-align:center;
      }


=======
.hero {
    margin-top: 40vh;
    margin-left: 20vh;
    
}

.hero h1 {
    color: #00FFF6;
    font-family: 'Roboto Mono', monospace;
}

.hero h2 {
    font-size: 60px;
    color: white;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}

.hero h3 {
    font-size: 50px;
    margin-bottom: 35px;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}

.hero p {
    opacity: 0.4;
}

.hero div a {
    color: #00FFF6;
    border: #00FFF6 solid 1px;
    border-radius: 3px !important;
    padding: 17px 20px 17px 20px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;


}

.hero div  a:hover {
    color: #00FFF6;
    border: #00FFF6 solid 1px;
    border-radius: 3px !important;
    padding: 17px 20px 17px 20px;
    background-color: #00fff74d;
}

@media screen and (max-width: 600px) {

    .hero {
        margin-left: 0;
        text-align: center;
    }

    .hero h2 {
        font-size: 40px;
        color: white;
        opacity: 0.9;
    }

    .hero h3 {
        font-size: 30px;
        margin-bottom: 25px;
        opacity: 0.6;
    }
    .hero p {
        opacity: 0.4;
        text-align:center;
      }


>>>>>>> origin/master
}