.skills {
    font-family: 'Roboto Mono', monospace;
}

.container_skills {
    border: 1px solid #00FFF6;
    padding: 14px 10px 14px 10px;
    width: 60vh;
    border-radius: 5px;
}

.map_container {
    background-color: #282c34;
}


.container_skills:hover {
    background-color: #01807b !important;

    .skills_icon {
        background-color: #01807b !important;
    }
}



@media screen and (max-width: 600px) {

.container_skills{
    width: 60vw;
}

}