.footer {
    background-color: #282c34;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 8vh;
}

.footer h3 {
    color: #00FFF6;
    font-family: 'Roboto Mono', monospace;
}


@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .footer h3 {
        color: #00FFF6;
        margin-bottom: 20px;
    }
}