@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar_container{
  font-family: 'Roboto Mono', monospace;
}

.nav_element{
  color: white !important;
  opacity: 0.7;
  font-size: 15;
}

.nav_element:hover{
  color: #00FFF6 !important;
  opacity: 1;
}


.nav_element span {
  color: #00FFF6 !important;
  opacity: 1;
}

.name{
  color: #00FFF6 !important;

}